@{
    Layout = null;
}


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <img src='@ViewData["ImageUrl"]'>
    <h5 class="card-title">@ViewData["Name"]</h5>
    <h5 class="card-title">@ViewData["Country"]</h5>
    <h5 class="card-title">@ViewData["Weight"]</h5>
    <h5 class="card-title">@ViewData["Height"]</h5>
  </div>
</div>